.notFound{
    width: 75vw;
    margin: auto;
    margin-bottom: 10vh;
}

.notFoundTitle{
    font-size: 2rem;
    color: var(--main);
    text-align: center;
    font-weight: bold;
    margin-top: 10vh 
}

.notFoundBox{
    margin-top: 5vh;
    align-items: center;
}

.notFoundImg{
    width: 30vw;
}

.notFoundInfo{
    margin: 0 2rem;
}

.notFoundText{
    color: var(--mainText);
    margin-top: 5vh;
    text-align: start;
    font-size: 1.6rem;
    line-height: 1.2;
}


@media(max-width: 769px){
    .notFound{
        width: 80vw;
    }

    .notFoundBox{
        flex-direction: column;
    }

    .notFoundImg{
        width: 60vw;
    }

    .notFoundInfo{
        margin: 0;
    }
    
    .notFoundText{
        text-align: center;
        font-size: 1.2rem;
    }
}